 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6 text-center">
                    <p>I'm a full-stack web developer with experience in MEAN, iOS and Django/Python. I love solving logic puzzles and algorithms. My passion lies in providing software solutions for common everyday situations.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        TOP
                    </a>
                </div>
            </div>
        </div>
    </section>
